@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


*,
*::before,
*::after {
	box-sizing: border-box;
}


body, html {
	font-family: "Montserrat", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.ant-image-mask-info {
	display: none !important;
}

/* Пример для Tailwind CSS */
.no-scrollbar::-webkit-scrollbar {
	display: none;
}

.no-scrollbar {
	-ms-overflow-style: none;
	/* IE и Edge */
	scrollbar-width: none;
	/* Firefox */
}

input[type="range"]::-webkit-slider-thumb {
	appearance: none;
	width: 24px; /* Увеличьте размер бегунка */
	height: 24px; /* Увеличьте размер бегунка */
	background-color: #7B72EB;
	border-radius: 50%;
	cursor: pointer;
	position: relative;
	z-index: 20;
	transition: box-shadow 0.2s ease-in-out;
  }
  
  input[type="range"]::-webkit-slider-thumb::after {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	width: 40px; /* Размер импульса */
	height: 40px; /* Размер импульса */
	background: rgba(123, 114, 235, 0.3);
	border-radius: 50%;
	transform: translate(-50%, -50%);
	z-index: -1;
	animation: pulse 1.5s infinite;
  }
  
  @keyframes pulse {
	0% {
	  transform: scale(1);
	  opacity: 1;
	}
	50% {
	  transform: scale(1.2);
	  opacity: 0.7;
	}
	100% {
	  transform: scale(1);
	  opacity: 1;
	}
  }
  
  .animate-pulse {
	animation: pulse 0.5s ease-out;
  }
  
  /* .circle-of-card::before,
  .circle-of-card::after {
	content: "";
	position: relative;
	background-color: #f8f8f8; 
	border-radius: 50%;
	width: 100px; 
	height: 100px;
  }
  
  .circle-of-card::before {
	top: -50px;
	left: 50%; 
	transform: translateX(-50%);
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05); 
  }
  
  .circle-of-card::after {
	bottom: -50px;
	right: 50%; 
	transform: translateX(50%);
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05); 
  } */